.home {
    text-align: center; /* Centraliza o texto dentro do contêiner */
    padding: 20px; /* Espaçamento interno */
    background-color: #f0f8ff; 
}

.titulo {
    font-size: 2.5em; /* Tamanho do título */
    margin: 20px 0; /* Margem para dar espaçamento em cima e embaixo */
}
.descricao {
    font-size: 1.2em; /* Tamanho da descrição */
    color: #d42020; /* Cor do texto */
    margin-bottom: 30px; /* Margem abaixo da descrição */
}