.home {
    text-align: center; 
    padding: 20px; 
    background-color:rgb(253, 169, 183); 
}

.titulo {
    font-size: 2.5em; 
    margin: 20px 0; 
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif; /* Fonte elegante e estilosa */
    font-size: 2.5rem; /* Tamanho maior para destaque */
    color: #5b2c6f; /* Cor roxa suave */
    text-align: center; /* Centralizar o texto */
    margin-bottom: 10px; /* Espaço inferior */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra leve no texto */
}

.descricao {
    font-size: 1.2em; 
    font-family: 'Roboto', sans-serif; /* Fonte moderna e limpa */
    font-size: 1.2rem; /* Tamanho legível */
    color: #7d3c98; /* Tom roxo mais claro */
    text-align: center; /* Centralizar o texto */
    margin: 0 auto 20px; /* Espaçamento embaixo */
    max-width: 600px; /* Largura máxima para centralizar melhor */
    line-height: 1.6; /* Melhor espaçamento entre linhas */
    color:rgb(255, 255, 255);
    margin-bottom: 30px; 
}

.botao {
  background-color: #8e44ad; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  margin: 5px; 
  border-radius: 25px; 
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

.botao:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.botao:active {
  transform: scale(0.95); 
}

.botao:focus {
  outline: none; 
  box-shadow: 0 0 8px #8e44ad; 
}

  .input {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    margin: 15px 0;
    border: 2px solid #8e44ad; 
    border-radius: 25px; 
    font-size: 16px;
    color: #333;
    outline: none;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

