.home {
    text-align: center; 
    padding: 20px; 
    background-color:rgb(253, 169, 183); 
}

.titulo {
    font-size: 2.5em; 
    margin: 20px 0; 
    color: rgb(107, 0, 36);
}

.descricao {
    font-size: 1.2em; 
    color:rgb(145, 7, 30);
    margin-bottom: 30px; 
}

button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 5px 10px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
  }
  
  
  button:hover {
    background-color: #45a049; 
  }
  
  
  button:active {
    background-color: #3e8e41;
    transform: scale(0.98); 
  }
  
  button:nth-child(3),
  button:nth-child(4) {
    background-color: #ff0000; 
  }

