.bloco{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: palevioletred;
}
.listaProdutos {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão */
}

li {
    margin-bottom: 20px; /* Espaço entre os produtos */
}

