
.listaProdutos {
    display: flex;
    flex-wrap: wrap; /* Para permitir que os cards quebrem para a próxima linha */
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove a margem padrão */
    justify-content: center;
    background-color: pink;
}

.card {
    border: 1px solid #ccc; /* Borda ao redor do card */
    border-radius: 8px; /* Bordas arredondadas */
    margin: 10px; /* Margem ao redor do card */
    padding: 16px; /* Preenchimento interno do card */
    width: 200px; /* Largura fixa do card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    transition: transform 0.2s; /* Efeito de transição */
    
}

.card:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.card img {
    max-width: 100%; /* A imagem não excede a largura do card */
    border-radius: 4px; /* Bordas arredondadas para a imagem */
}

.card h2 {
    font-size: 1.2em; /* Tamanho do título */
    margin: 10px 0; /* Margem superior e inferior */
    justify-content: center;
}

.card p {
    margin: 5px 0; /* Margem superior e inferior para descrições */
}
.titulo {
    text-align: center; /* Centraliza o texto */
    margin: 20px 0; /* Margem para dar espaçamento em cima e embaixo */
    font-size: 2em; /* Tamanho do texto do título */
}